@page
@using Telemetry.Models
@using Telemetry.pages

<div class="container mt-4">
  <div class="row form-group">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Temperature</h5>
          <p class="card-text">The temperature is ...</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Battery state</h5>
          <p class="card-text">The battery state is ..%</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row form-group">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Sensors</h5>
            <p class="card-text">The sensors ...</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Weighting</h5>
            <p class="card-text">The weighting is ...</p>
          </div>
        </div>
      </div>
    </div>
  
  <div class="row form-group">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Mode</h5>
          <p class="card-text">The robot is in ... mode.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Speed</h5>
          <p class="card-text">The speed is ...</p>
        </div>
      </div>
    </div>
  </div>
  
</div>

@Upload.Last

<script type="text/javascript" src="js/reload.js"></script>