@page
@using Telemetry.Models
@using Telemetry.pages

<body>
  <div class="container mt-4">
    <div class="row form-group">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Speed</h5>
            <p class="card-text">The current speed is </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Battery state</h5>
            <p class="card-text">The current battery state is ..%</p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row form-group">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Temperature</h5>
            <p class="card-text">The measured temperature is <b>@Upload.Last?.Temperature</b> degrees.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Weight</h5>
            <p class="card-text">The measured weight is <b>@Upload.Last?.Weight</b> gram.</p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row form-group">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Mode</h5>
            <p class="card-text">The robot currently is in <b>@Upload.Last?.Mode</b> mode.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Weight</h5>
            <p class="card-text">The measured weight is ...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<script type="text/javascript" src="js/reload.js"></script>